<!DOCTYPE html>
<!--djlint:off  -->
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Home</title>
  </head>
  <body>
<!--djlint:on  -->
<h1>Homepage</h1>
<p>Total number of books: {{ num_books }}</p>
<p>Total number of books available: {{ num_instances_available }}</p>
{% comment %} <p>Total number of books on loan: {{ num_instances_available }}</p> {% endcomment %}
{% comment %} <p>Total number of authors: {{ num_authors }}</p>
    <p>Total number of genres: {{ num_genres }}</p>
    <p>Total number of languages: {{ num_languages }}</p>
<p>Total number of books with word 'war' in title: {{ num_books_with_word }}</p> {% endcomment %}
{% if user.is_authenticated %}
  <p>Hello, {{ user.username }} ! You are logged in</p>
  <p>Welcome: {{ user.get_username }}</p>
  {% comment %} <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a> {% endcomment %}
  <form method="post" action="{% url 'logout' %}?next={{ request.path }}">
    {% csrf_token %}
    <input type="submit" value="Logout Here">
  </form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}?next={{ request.path }} ">Login</a>
{% endif %}
</body>
</html>
